# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Test artifacts & databases
data/test_*
*.db
data/*.db
artifacts/
*.log
.env
*.env

# IDE & Editor files
.vscode/*
!.vscode/settings.json
.idea/
*.swp
